@import "tailwindcss";

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #9333ea;
  --color-primary-light: #f3e8ff;

  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  --navbar-height: 72px;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Reset */
body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Estilos base para botones de nav (no son <a> sino <button>) */
button {
  cursor: pointer;
}
